<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SalesVentanaConnection" connectionString="Data Source=CEL60;Initial Catalog=ARMADA_To_Migrate; User Id=sa; Password=''; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <!--<add name="SalesVentanaConnection" connectionString="Data Source=SUJON-PC;Initial Catalog=HomeCinema; Integrated Security=true; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>