<div class="row" ng-init="vm.initData();" cg-busy="vm.rsPromise">
    <div class="col-md-12">
        <div class="panel panel-info" style="min-height: 600px;">
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="!/#collapseOne">
                            <div class="list-group-item list-group-item-default">
                                <div class="row">
                                    <div class="col-md-12  accordion-toggle">
                                        <img style="margin-right: 5px;" src="Content/images/sales/criteria-clipart-criteria-clipart-1.jpg" class="img-responsive pull-left" />
                                        Customise report based on multiple search criteria
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <form role="form" role="form" novalidate angular-validator name="salesFilterForm" angular-validator-submit="vm.filterRSSummary();">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Channel :</label>
                                                <div isteven-multi-select
                                                     input-model="vm.inputChannels"
                                                     output-model="vm.outputChannels"
                                                     button-label="icon channelName"
                                                     item-label="icon channelName"
                                                     tick-property="ticked"
                                                     is-checkbox-layer-open="true"
                                                     max-labels="3"
                                                     max-height="250px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Workorder :</label>
                                                <div isteven-multi-select
                                                     input-model="vm.inputWorkorders"
                                                     output-model="vm.outputWorkorders"
                                                     button-label="icon workorderName"
                                                     item-label="icon workorderName"
                                                     tick-property="ticked"
                                                     is-checkbox-layer-open="true"
                                                     max-labels="3"
                                                     max-height="250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Customer :</label>
                                                <div isteven-multi-select
                                                     input-model="vm.inputCustomers"
                                                     output-model="vm.outputCustomers"
                                                     button-label="icon customerName"
                                                     item-label="icon customerName"
                                                     tick-property="ticked"
                                                     is-checkbox-layer-open="true"
                                                     max-labels="3"
                                                     max-height="250px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Sales Person :</label>
                                                <div isteven-multi-select
                                                     input-model="vm.inputSalesPerson"
                                                     output-model="vm.outputSalesPerson"
                                                     button-label="icon salesPersonName"
                                                     item-label="icon salesPersonName"
                                                     tick-property="ticked"
                                                     is-checkbox-layer-open="true"
                                                     max-labels="3"
                                                     max-height="250px">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="btn-group pull-right">
                                                <button type="submit" class="btn btn-primary btn-flat" value="Search"><i class="glyphicon glyphicon-search"></i> Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class=" panel-group" id="accordion4">
                            <div class="panel panel-default">
                                <a data-toggle="collapse" data-parent="#accordion4" href="!/#collapseFour">
                                    <div class="list-group-item list-group-item-default">
                                        <div class="row">
                                            <div class="col-md-12  accordion-toggle">
                                                <img style="margin-right: 5px;" src="Content/images/sales/upload-report-icon-43988.png" class="img-responsive pull-left" />
                                                Report Data in table format
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div id="collapseFour" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="table-responsive" ng-style="{'margin-top': '-9px'}" ng-show="vm.rsHeader.length > 0">
                                            <span class="pull-right">
                                                <button class="btn btn-link" ng-click="vm.exportToExcel('#rsTable')">
                                                    <span class="glyphicon glyphicon-share"></span> Export to Excel
                                                </button>
                                                <select class="soflow" ng-model="vm.valueFormatter" ng-change="vm.changeValueFormat()">
                                                    <option value="Million">Value in Million</option>
                                                    <option value="Thousand">Value in Thousand</option>
                                                </select>
                                            </span>
                                            <!--export table-->
                                            <table class="table table-bordered table-striped" id="rsTable" style="font-size:13px;" ng-show="false">
                                                <thead>
                                                    <tr style="background-color: #605ca8; color: white; ">
                                                        <th ng-repeat="header in vm.rsHeader">
                                                            {{header}}
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="data in vm.rsData">
                                                        <td ng-repeat="header in vm.rsHeader">
                                                            {{vm.getCommaSeparatedData(data[header], header, [''])}}
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="vm.currentPage == vm.noOfPages" style="background-color:#605ca8; font-weight: bold; color: white;">
                                                        <td ng-repeat="total in vm.rsTotal track by $index">
                                                            <b>{{total}}</b>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--end-->
                                            <table class="table table-bordered table-striped" style="font-size:13px;">
                                                <thead>
                                                    <tr style="background-color: #605ca8; color: white; ">
                                                        <th ng-repeat="header in vm.rsHeader">
                                                            {{header}}
                                                        </th>
                                                        <th>
                                                            &nbsp;
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="data in vm.rsData | startFrom:(vm.currentPage-1)*vm.entryLimit | limitTo:vm.entryLimit">
                                                        <td ng-repeat="header in vm.rsHeader">
                                                            {{vm.getCommaSeparatedData(data[header], header, [''])}}
                                                        </td>
                                                        <td class="text-center">
                                                            <button type="button" data-id="{{data['customerID']}}" class="btn btn-block btn-flat btn-xs btn-warning" ng-click="vm.detailRS($event);"><i class="fa fa-table" aria-hidden="true"></i> &nbsp;Details</button>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="vm.currentPage == vm.noOfPages" style="background-color:#605ca8; font-weight: bold; color: white;">
                                                        <td ng-repeat="total in vm.rsTotal track by $index">
                                                            <b>{{total}}</b>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <pagination class="pull-right" page="vm.currentPage" max-size="vm.noOfPages" total-items="vm.totalItems" items-per-page="vm.entryLimit" style="cursor:pointer;"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
