<div class="row" ng-init="loadInitData();">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label>
                            <input type="radio" name="salesType" value="yearly" ng-model="salesType" ng-change="changeSalesType();" ng-checked="true">
                            Yearly &nbsp;
                        </label>
                        <label>
                            <input type="radio" name="salesType" value="quarterly" ng-model="salesType" ng-change="changeSalesType();">
                            Quarterly &nbsp;
                        </label>
                        <label>
                            <input type="radio" name="salesType" value="monthly" ng-model="salesType" ng-change="changeSalesType();">
                            Monthly &nbsp;
                        </label>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="!/#collapseOne">
                            <div class="list-group-item list-group-item-default">
                                <div class="row">
                                    <div class="col-md-12  accordion-toggle">
                                        <img style="margin-right: 5px;" src="../../../Content/images/sales/criteria-clipart-criteria-clipart-1.jpg" class="img-responsive pull-left" />
                                        Customise report based on multiple search criteria
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form role="form" role="form" novalidate angular-validator name="salesFilterForm" angular-validator-submit="filterSales();">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Year :</label>
                                                <div isteven-multi-select
                                                     input-model="inputSalesYear"
                                                     output-model="outputSalesYear"
                                                     button-label="icon year"
                                                     item-label="icon year"
                                                     tick-property="ticked"
                                                     selection-mode="single"
                                                     is-checkbox-layer-open="true"
                                                     is-disabled="yearItemIsDisabled"
                                                     max-height="250px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Quarter :</label>
                                                <div isteven-multi-select
                                                     input-model="inputSalesQuarter"
                                                     output-model="outputSalesQuarter"
                                                     button-label="icon quarter"
                                                     item-label="icon quarter"
                                                     tick-property="ticked"
                                                     is-checkbox-layer-open="true"
                                                     is-disabled="quarterItemIsDisabled"
                                                     max-labels="3"
                                                     max-height="250px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Month :</label>
                                                <div isteven-multi-select
                                                     input-model="inputSalesMonth"
                                                     output-model="outputSalesMonth"
                                                     button-label="icon month"
                                                     item-label="icon month"
                                                     tick-property="ticked"
                                                     is-checkbox-layer-open="true"
                                                     is-disabled="monthItemIsDisabled"
                                                     max-labels="3"
                                                     max-height="250px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Report based on:</label>
                                                <br />
                                                <label>
                                                    <input type="radio" name="firstReportFilter" value="Brand" ng-model="firstReportFilter" ng-checked="true" ng-change="changeSecondReportFilter();">
                                                    Brand &nbsp;
                                                </label>
                                                <label>
                                                    <input type="radio" name="firstReportFilter" value="ProductCategory" ng-model="firstReportFilter" ng-change="changeSecondReportFilter();">
                                                    Product Category &nbsp;
                                                </label>
                                                <label>
                                                    <input type="radio" name="firstReportFilter" value="Product" ng-model="firstReportFilter" ng-change="changeSecondReportFilter();">
                                                    Product &nbsp;
                                                </label>
                                                <label>
                                                    <input type="radio" name="firstReportFilter" value="Region" ng-model="firstReportFilter" ng-change="changeSecondReportFilter();">
                                                    Region &nbsp;
                                                </label>
                                                <label>
                                                    <input type="radio" name="firstReportFilter" value="Showroom" ng-model="firstReportFilter" ng-change="changeSecondReportFilter();">
                                                    Showroom &nbsp;
                                                </label>
                                                <label>
                                                    <input type="radio" name="firstReportFilter" value="Employee" ng-model="firstReportFilter" ng-change="changeSecondReportFilter();">
                                                    Employee &nbsp;
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Channel :</label>
                                                <div isteven-multi-select
                                                     input-model="inputChannel"
                                                     output-model="outputChannel"
                                                     button-label="icon channelName"
                                                     item-label="icon channelName"
                                                     tick-property="ticked"
                                                     is-checkbox-layer-open="true"
                                                     max-labels="3"
                                                     max-height="250px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Brand :</label>
                                                <div isteven-multi-select
                                                     input-model="inputBrands"
                                                     output-model="outputBrands"
                                                     button-label="icon brandName"
                                                     item-label="icon brandName"
                                                     tick-property="ticked"
                                                     is-checkbox-layer-open="true"
                                                     on-close="brandClick()"
                                                     max-labels="3"
                                                     max-height="250px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Product Category :</label>
                                                <div isteven-multi-select
                                                     input-model="inputProductCategories"
                                                     output-model="outputProductCategories"
                                                     button-label="icon categoryName"
                                                     item-label="icon categoryName"
                                                     tick-property="ticked"
                                                     is-checkbox-layer-open="true"
                                                     on-close="productCategoryClick()"
                                                     max-labels="3"
                                                     max-height="250px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Sort based on:</label>
                                                <br />
                                                <label>
                                                    <input type="radio" name="secondReportFilter" value="Brand" ng-model="secondReportFilter" ng-checked="true">
                                                    Brand &nbsp;
                                                </label>
                                                <label>
                                                    <input type="radio" name="secondReportFilter" value="ProductCategory" ng-model="secondReportFilter">
                                                    Product Category &nbsp;
                                                </label>
                                                <label>
                                                    <input type="radio" name="secondReportFilter" value="Product" ng-model="secondReportFilter">
                                                    Product &nbsp;
                                                </label>
                                                <label>
                                                    <input type="radio" name="secondReportFilter" value="Region" ng-model="secondReportFilter">
                                                    Region &nbsp;
                                                </label>
                                                <label>
                                                    <input type="radio" name="secondReportFilter" value="Showroom" ng-model="secondReportFilter">
                                                    Showroom &nbsp;
                                                </label>
                                                <label>
                                                    <input type="radio" name="secondReportFilter" value="Employee" ng-model="secondReportFilter">
                                                    Employee &nbsp;
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Product :</label>
                                                <div isteven-multi-select
                                                     input-model="inputProducts"
                                                     output-model="outputProducts"
                                                     button-label="icon productName"
                                                     item-label="icon productName"
                                                     tick-property="ticked"
                                                     is-checkbox-layer-open="true"
                                                     max-labels="3"
                                                     max-height="250px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Region :</label>
                                                <div isteven-multi-select
                                                     input-model="inputRegion"
                                                     output-model="outputRegion"
                                                     button-label="icon regionName"
                                                     item-label="icon regionName"
                                                     tick-property="ticked"
                                                     is-checkbox-layer-open="true"
                                                     max-labels="3"
                                                     max-height="250px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Showroom :</label>
                                                <div isteven-multi-select
                                                     input-model="inputShowroom"
                                                     output-model="outputShowroom"
                                                     button-label="icon showroomName"
                                                     item-label="icon showroomName"
                                                     tick-property="ticked"
                                                     is-checkbox-layer-open="true"
                                                     max-labels="3"
                                                     max-height="250px">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Chart type:</label>
                                                <br />
                                                <label>
                                                    <input type="checkbox" name="pie" value="pie" ng-model="showPieChart">
                                                    Pie &nbsp;
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="column" value="column" ng-model="showColumnChart">
                                                    Column &nbsp;
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="btn-group pull-right">
                                                <button type="submit" class="btn btn-primary btn-flat" value="Search"><i class="glyphicon glyphicon-search"></i> Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion2" ng-if="showChart">
                            <div class="panel panel-default">
                                <a data-toggle="collapse" data-parent="#accordion2" href="!/#collapseTwo">
                                    <div class="list-group-item list-group-item-default">
                                        <div class="row">
                                            <div class="col-md-12  accordion-toggle">
                                                <img style="margin-right: 5px;" src="../../../Content/images/sales/stats_area_chart_icon.jpg" class="img-responsive pull-left" />
                                                Area Chart
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="col-md-12 text-center">
                                            <div fusioncharts
                                                 width="100%"
                                                 height="400"
                                                 type="area2d"
                                                 chart="{{salesareachartattrs}}"
                                                 dataset="{{saleschartdataset}}">
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion3">
                            <div class="panel panel-default">
                                <a data-toggle="collapse" data-parent="#accordion3" href="!/#collapseThree">
                                    <div class="list-group-item list-group-item-default">
                                        <div class="row">
                                            <div class="col-md-12  accordion-toggle">
                                                <img style="margin-right: 5px;" src="../../../Content/images/sales/chart-icon-color.png" class="img-responsive pull-left" />
                                                Pie & Column Chart
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div id="collapseThree" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="text-center" ng-class="showColumnChart ? 'col-md-6' : 'col-md-12'" ng-if="showPieChart">
                                            <div fusioncharts
                                                 width="100%"
                                                 height="400"
                                                 type="pie3d"
                                                 chart="{{salespiechartattrs}}"
                                                 dataset="{{saleschartdataset}}">
                                            </div>
                                        </div>
                                        <div class="text-center" ng-class="showPieChart ? 'col-md-6' : 'col-md-12'" ng-if="showColumnChart">
                                            <div fusioncharts
                                                 width="100%"
                                                 height="400"
                                                 type="column3d"
                                                 chart="{{salescolumnchartattrs}}"
                                                 dataset="{{saleschartdataset}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class=" panel-group" id="accordion4">
                            <div class="panel panel-default">
                                <a data-toggle="collapse" data-parent="#accordion4" href="!/#collapseFour">
                                    <div class="list-group-item list-group-item-default">
                                        <div class="row">
                                            <div class="col-md-12  accordion-toggle">
                                                <img style="margin-right: 5px;" src="../../../Content/images/sales/upload-report-icon-43988.png" class="img-responsive pull-left" />
                                                Report Data in table format
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="table-responsive" ng-style="{'margin-top': '-20px'}" ng-if="salesHeader.length > 0">
                                            <span class="pull-right">
                                                <button class="btn btn-link" ng-click="exportToExcel('#salesTable')">
                                                    <span class="glyphicon glyphicon-share"></span> Export to Excel
                                                </button>
                                            </span>
                                            <table class="table table-bordered table-striped" id="salesTable" style="font-size:13px;">
                                                <thead>
                                                    <tr style="background-color: #605ca8; color: white; ">
                                                        <th ng-repeat="header in salesHeader">
                                                            {{header}}
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="data in salesData | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" style="background-color:{{data['background']}}; font-weight: {{data['fontweight']}};">
                                                        <td ng-repeat="header in salesHeader">
                                                            {{getCommaSeparatedValue(data[header])}}
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="currentPage == noOfPages" style="background-color:#605ca8; font-weight: bold; color: white;">
                                                        <td ng-repeat="total in salesDataTotal track by $index">
                                                            <b>{{total}}</b>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <pagination class="pull-right" page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit" style="cursor:pointer;"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
