<br />
<div class="row" ng-controller="lcDetailCtrl as vm" ng-init="vm.loadInitData();" cg-busy="vm.detailPromise">
    <div class="col-md-12">
        <div class=" panel-group" id="accordion">
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="!/#collapse">
                    <div class="list-group-item list-group-item-default">
                        <div class="row">
                            <div class="col-md-12  accordion-toggle">
                                <img style="margin-right: 5px;" src="Content/images/sales/upload-report-icon-43988.png" class="img-responsive pull-left" />
                                LC Items
                            </div>
                        </div>
                    </div>
                </a>
                <div id="collapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="table-responsive" ng-style="{'margin-top': '-20px'}" ng-show="vm.itemHeader.length > 0">
                            <span class="pull-right">
                                <button class="btn btn-link" ng-click="vm.exportToExcel('#itemTable')">
                                    <span class="glyphicon glyphicon-share"></span> Export to Excel
                                </button>
                            </span>
                            <!--export table-->
                            <table class="table table-bordered table-striped" id="itemTable" style="font-size:13px;" ng-show="false">
                                <thead>
                                    <tr style="background-color: #605ca8; color: white; ">
                                        <th ng-repeat="header in vm.itemHeader">
                                            {{header}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in vm.itemData">
                                        <td ng-repeat="header in vm.itemHeader">
                                            {{vm.getCommaSeparatedData(data[header], header, [''])}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--end-->
                            <table class="table table-bordered table-striped" style="font-size:13px;">
                                <thead>
                                    <tr style="background-color: #605ca8; color: white; ">
                                        <th ng-repeat="header in vm.itemHeader">
                                            {{header}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in vm.itemData | startFrom:(vm.itemCurrentPage-1)*vm.itemEntryLimit | limitTo:vm.itemEntryLimit">
                                        <td ng-repeat="header in vm.itemHeader">
                                            {{vm.getCommaSeparatedData(data[header], header, [''])}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination class="pull-right" page="vm.itemCurrentPage" max-size="vm.itemNoOfPages" total-items="vm.itemTotalItems" items-per-page="vm.itemEntryLimit" style="cursor:pointer;"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" panel-group" id="accordion2">
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion2" href="!/#collapseTwo">
                    <div class="list-group-item list-group-item-default">
                        <div class="row">
                            <div class="col-md-12  accordion-toggle">
                                <img style="margin-right: 5px;" src="Content/images/sales/upload-report-icon-43988.png" class="img-responsive pull-left" />
                                LC Expenditures
                            </div>
                        </div>
                    </div>
                </a>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="table-responsive" ng-style="{'margin-top': '-20px'}" ng-show="vm.expenditureHeader.length > 0">
                            <span class="pull-right">
                                <button class="btn btn-link" ng-click="vm.exportToExcel('#expenditureTable')">
                                    <span class="glyphicon glyphicon-share"></span> Export to Excel
                                </button>
                            </span>
                            <!--export table-->
                            <table class="table table-bordered table-striped" style="font-size:13px;" ng-show="false">
                                <thead>
                                    <tr style="background-color: #605ca8; color: white; ">
                                        <th ng-repeat="header in vm.expenditureHeader">
                                            {{header}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in vm.expenditureData">
                                        <td ng-repeat="header in vm.expenditureHeader">
                                            {{vm.getCommaSeparatedData(data[header], header, [''])}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--end-->
                            <table class="table table-bordered table-striped" id="expenditureTable" style="font-size:13px;">
                                <thead>
                                    <tr style="background-color: #605ca8; color: white; ">
                                        <th ng-repeat="header in vm.expenditureHeader">
                                            {{header}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in vm.expenditureData | startFrom:(vm.expenditureCurrentPage-1)*vm.expenditureEntryLimit | limitTo:vm.expenditureEntryLimit">
                                        <td ng-repeat="header in vm.expenditureHeader">
                                            {{vm.getCommaSeparatedData(data[header], header, [''])}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination class="pull-right" page="vm.expenditureCurrentPage" max-size="vm.expenditureNoOfPages" total-items="vm.expenditureTotalItems" items-per-page="vm.expenditureEntryLimit" style="cursor:pointer;"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" panel-group" id="accordion3">
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion3" href="!/#collapseThree">
                    <div class="list-group-item list-group-item-default">
                        <div class="row">
                            <div class="col-md-12  accordion-toggle">
                                <img style="margin-right: 5px;" src="Content/images/sales/upload-report-icon-43988.png" class="img-responsive pull-left" />
                                LC Activities
                            </div>
                        </div>
                    </div>
                </a>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="table-responsive" ng-style="{'margin-top': '-20px'}" ng-show="vm.activityHeader.length > 0">
                            <span class="pull-right">
                                <button class="btn btn-link" ng-click="vm.exportToExcel('#activityTable')">
                                    <span class="glyphicon glyphicon-share"></span> Export to Excel
                                </button>
                            </span>
                            <!--export table-->
                            <table class="table table-bordered table-striped" id="activityTable" style="font-size:13px;" ng-show="false">
                                <thead>
                                    <tr style="background-color: #605ca8; color: white; ">
                                        <th ng-repeat="header in vm.activityHeader">
                                            {{header}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in vm.activityData">
                                        <td ng-repeat="header in vm.activityHeader">
                                            {{vm.getCommaSeparatedData(data[header], header, [''])}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--end-->
                            <table class="table table-bordered table-striped" style="font-size:13px;">
                                <thead>
                                    <tr style="background-color: #605ca8; color: white; ">
                                        <th ng-repeat="header in vm.activityHeader">
                                            {{header}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in vm.activityData | startFrom:(vm.activityCurrentPage-1)*vm.activityEntryLimit | limitTo:vm.activityEntryLimit">
                                        <td ng-repeat="header in vm.activityHeader">
                                            {{vm.getCommaSeparatedData(data[header], header, [''])}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination class="pull-right" page="vm.activityCurrentPage" max-size="vm.activityNoOfPages" total-items="vm.activityTotalItems" items-per-page="vm.activityEntryLimit" style="cursor:pointer;"></pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
